<div class="nav">

    <h1>MY BOOKINGS </h1>



    <ul>

        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/flights">Make a booking</a></li>
        <li><a routerLink="/view">View bookings</a></li>




    </ul>

</div>


<body>


<p>
Flight from: {{City}} To: {{group2}} <br>
Type of trip: {{TripType}} <br>
Number of tickets: {{numTickets}} <br>
Departure Date: {{date}} <br>
Departure Time: {{time}}<br>
Ticket Price: R{{price}}


</p>

<h3>Thank you for choosing us, Bon Voyage.</h3>




  <footer>For inquiries please email twinklertravelers.co.za , telephone 011 460255</footer>
</body>

