footer{



    background:rgb(255, 192, 203);
    color:rgb(26, 24, 24);
    bottom:0px;
    width:100%;
    position:fixed;
    vertical-align:middle;
    text-align:centre;
    line-height:normal;
    padding:0;
    
    }

    .nav ul li{

        color:black;
        display:inline;
        margin-left: 20px;
        border:1px solid;
    
    }
    
    .nav ul li {
        padding: 0.5%;
      }
     .nav ul li{
        color: black;
        border-radius: 10px;
        
      }
      .nav ul li a:hover{
          background-color: black;
          color: white;
      }

      p{
        font-size: 2em;
        text-align:centre;
        
      }

      body{
          text-align: center;
      }